// Colors
//      Primary
$dark-blue: hsl(233, 47%, 7%); // Main Background
$desaturated-blue: hsl(244, 38%, 16%); // Card Background
$soft-violet: hsl(277, 64%, 61%); // Accent

//      Neutral
$white: hsl(0, 0%, 100%); // Main Heading, Stats
$slightly-transparent-white: hsla(0, 0%, 100%, 0.75); // Main Paragraph
$transparent-white: hsla(0, 0%, 100%, 0.6); // Stat Headings

// Typography
$font-size: 15px;
$font-weight: (
    "normal": 400,
    "bold": 700,
);

@mixin font-familyMixin($fontname) {
    @if to-upper-case($fontname) == "INTER" {
        font-family: "Inter", sans-serif;
    } @else if to-upper-case($fontname) == "LEXEND" {
        font-family: "Lexend Deca", sans-serif;
    }
}
